# --------- docs --------- #
sphinx==5.3.0
jupyter-book
sphinx-autobuild
sphinxcontrib-youtube
sphinxcontrib-bibtex
sphinxcontrib-svg2pdfconverter
# sphinx-proof
# sphinx-inline-tabs
# sphinxext-rediraffe
# sphinx-panels
# sphinxcontrib-mermaid
# sphinxcontrib-seqdiag
# sphinx_click
# sphinx_examples

# diagrams
ipywidgets
dtreeviz
optuna
lightgbm
# --------- docs --------- #

