# pipenv install --skip-lock --dev --python 3.10.6
# --------- docs --------- #
sphinx~=5.0.0
jupyter-book==0.15.1
sphinx-autobuild
sphinxcontrib-youtube~=1.3.0
sphinxcontrib-bibtex
sphinxcontrib-svg2pdfconverter
sphinx-proof
sphinx-inline-tabs
sphinxext-rediraffe
sphinx-panels
sphinxcontrib-mermaid
sphinxcontrib-seqdiag
sphinx_click
sphinx_examples

diagrams
ipywidgets
dtreeviz
optuna
lightgbm
# --------- docs --------- #

