absl-py==1.4.0
apex==0.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
audioread==3.0.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
blis==0.7.9
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.0
cmake==3.24.1.1
comm==0.1.2
confection==0.0.4
contourpy==1.0.6
cubinlinker==0.2.2+2.g8e13447
cuda-python==12.1.0rc1+1.g9e30ea2.dirty
cudf==22.12.0
cugraph==22.12.0
cugraph-dgl==22.12.0
cugraph-service-client==22.12.0
cugraph-service-server==22.12.0
cuml==22.12.0
cupy-cuda12x==12.0.0a2
cycler==0.11.0
cymem==2.0.7
Cython==0.29.33
dask==2022.11.1
dask-cuda==22.12.0
dask-cudf==22.12.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
distributed==2022.11.1
exceptiongroup==1.1.0
execnet==1.9.0
executing==1.2.0
expecttest==0.1.3
fastjsonschema==2.16.2
fastrlock==0.8.1
filelock==3.9.0
fonttools==4.38.0
fsspec==2022.11.0
gast==0.4.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
graphsurgeon==0.4.6
grpcio==1.51.1
HeapDict==1.0.1
hypothesis==5.35.1
idna==3.4
importlib-metadata==5.1.0
importlib-resources==5.10.2
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.21.1
ipython==8.9.0
ipython-genutils==0.2.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonschema==4.17.3
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter-tensorboard==0.2.0
jupyterlab==2.3.2
jupyterlab-pygments==0.2.2
jupyterlab-server==1.2.0
jupytext==1.14.4
kiwisolver==1.4.4
langcodes==3.3.0
librosa==0.9.2
llvmlite==0.39.1
locket==1.0.0
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==2.0.5
mkl==2021.1.1
mkl-devel==2021.1.1
mkl-include==2021.1.1
mock==5.0.1
mpmath==1.2.1
msgpack==1.0.4
murmurhash==1.0.9
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==2.6.3
notebook==6.4.10
numba==0.56.4+1.g772622d0d
numpy==1.22.2
nvidia-dali-cuda110==1.22.0
nvidia-pyindex==1.0.9
nvtx==0.2.5
oauthlib==3.2.2
onnx==1.13.0
opencv==4.6.0
packaging==22.0
pandas==1.5.2
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip==21.2.4
pkgutil_resolve_name==1.3.10
platformdirs==3.0.0
pluggy==1.0.0
ply==3.11
polygraphy==0.43.1
pooch==1.6.0
preshed==3.0.8
prettytable==3.6.0
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
ptxcompiler==0.7.0+27.gd73915e
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.3
pycocotools==2.0+nv0.7.1
pycparser==2.21
pydantic==1.10.4
Pygments==2.14.0
pylibcugraph==22.12.0
pylibcugraphops==22.12.0
pylibraft==22.12.0
pynvml==11.4.1
pyparsing==3.0.9
pyrsistent==0.19.3
pytest==7.2.1
pytest-rerunfailures==11.0
pytest-shard==0.1.2
pytest-xdist==3.2.0
python-dateutil==2.8.2
python-hostlist==1.23.0
pytorch-quantization==2.1.2
pytz==2022.6
PyYAML==6.0
pyzmq==25.0.0
raft-dask==22.12.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
resampy==0.4.2
rmm==22.12.0
rsa==4.9
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.12.1
Send2Trash==1.8.0
setuptools==65.5.1
six==1.16.0
smart-open==6.3.0
sortedcontainers==2.4.0
soundfile==0.11.0
soupsieve==2.3.2.post1
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sphinx-glpi-theme==0.3
srsly==2.4.5
stack-data==0.6.2
strings-udf==22.12.0
sympy==1.11.1
tbb==2021.8.0
tblib==1.7.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorrt==8.5.3.1
terminado==0.17.1
thinc==8.1.7
threadpoolctl==3.1.0
thriftpy2==0.4.16
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.14.0a0+44dac51
torch-tensorrt==1.4.0.dev0
torchtext==0.13.0a0+fae8e8c
torchvision==0.15.0a0
tornado==6.1
tqdm==4.64.1
traitlets==5.9.0
transformer-engine==0.5.0
treelite==3.0.1
treelite-runtime==3.0.1
triton==2.0.0
typer==0.7.0
typing_extensions==4.4.0
ucx-py==22.12.0
uff==0.6.9
urllib3==1.26.13
wasabi==1.1.1
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.2.2
wheel==0.38.4
xdoctest==1.0.2
xgboost==1.7.1
zict==2.2.0
zipp==3.11.0
