# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Data Mining
author: Pantelis Monogioudis, Ph.D
logo: logo.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: 'off'

# Define the name of the latex output file for PDF builds
latex:
  latex_engine: xelatex
  latex_documents:
    targetname: data-mining-book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/pantelis/data-mining  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  favicon: favicon.ico
  home_page_in_navbar: true
  use_edit_page_button: true
  use_issues_button: true
  use_repository_button: true
  use_download_button: false
  baseurl: https://pantelis.github.io/data-mining

launch_buttons:
  colab_url: "https://colab.research.google.com"
  notebook_interface: "classic"

sphinx:
  recursive_update: true
  config:
    bibtex_reference_style: author_year
    html_theme_options:
      use_download_button: false
      repository_url: https://pantelis.github.io/data-mining
      use_issues_button: true
      use_repository_button: false
      use_edit_page_button: false
    # rediraffe_branch: 'main'
    # rediraffe_redirects:
    #   content-types/index.md: file-types/index.md
    #   content-types/markdown.md: file-types/markdown.md
    #   content-types/notebooks.ipynb: file-types/notebooks.ipynb
    #   content-types/restructuredtext.md: file-types/restructuredtext.md
    mathjax3_config:
      TeX:
        Macros:
          "N": "\\mathbb{N}"
          "floor": ["\\lfloor#1\\rfloor", 1]
          "bmat": ["\\left[\\begin{array}"]
          "emat": ["\\end{array}\\right]"]
    latex_elements:
      preamble: |
        \usepackage{bm}          
        \def\reta{{\textnormal{$\eta$}}}
        \def\ra{{\textnormal{a}}}
        \def\rb{{\textnormal{b}}}
        \def\rc{{\textnormal{c}}}
        \def\rd{{\textnormal{d}}}
        \def\re{{\textnormal{e}}}
        \def\rf{{\textnormal{f}}}
        \def\rg{{\textnormal{g}}}
        \def\rh{{\textnormal{h}}}
        \def\ri{{\textnormal{i}}}
        \def\rj{{\textnormal{j}}}
        \def\rk{{\textnormal{k}}}
        \def\rl{{\textnormal{l}}}          
        \def\rn{{\textnormal{n}}}
        \def\ro{{\textnormal{o}}}
        \def\rp{{\textnormal{p}}}
        \def\rq{{\textnormal{q}}}
        \def\rr{{\textnormal{r}}}
        \def\rs{{\textnormal{s}}}
        \def\rt{{\textnormal{t}}}
        \def\ru{{\textnormal{u}}}
        \def\rv{{\textnormal{v}}}
        \def\rw{{\textnormal{w}}}
        \def\rx{{\textnormal{x}}}
        \def\ry{{\textnormal{y}}}
        \def\rz{{\textnormal{z}}}
        \def\rvepsilon{{\mathbf{\epsilon}}}
        \def\rvtheta{{\mathbf{\theta}}}
        \def\rva{{\mathbf{a}}}
        \def\rvb{{\mathbf{b}}}
        \def\rvc{{\mathbf{c}}}
        \def\rvd{{\mathbf{d}}}
        \def\rve{{\mathbf{e}}}
        \def\rvf{{\mathbf{f}}}
        \def\rvg{{\mathbf{g}}}
        \def\rvh{{\mathbf{h}}}
        \def\rvu{{\mathbf{i}}}
        \def\rvj{{\mathbf{j}}}
        \def\rvk{{\mathbf{k}}}
        \def\rvl{{\mathbf{l}}}
        \def\rvm{{\mathbf{m}}}
        \def\rvn{{\mathbf{n}}}
        \def\rvo{{\mathbf{o}}}
        \def\rvp{{\mathbf{p}}}
        \def\rvq{{\mathbf{q}}}
        \def\rvr{{\mathbf{r}}}
        \def\rvs{{\mathbf{s}}}
        \def\rvt{{\mathbf{t}}}
        \def\rvu{{\mathbf{u}}}
        \def\rvv{{\mathbf{v}}}
        \def\rvw{{\mathbf{w}}}
        \def\rvx{{\mathbf{x}}}
        \def\rvy{{\mathbf{y}}}
        \def\rvz{{\mathbf{z}}}
        \def\erva{{\textnormal{a}}}
        \def\ervb{{\textnormal{b}}}
        \def\ervc{{\textnormal{c}}}
        \def\ervd{{\textnormal{d}}}
        \def\erve{{\textnormal{e}}}
        \def\ervf{{\textnormal{f}}}
        \def\ervg{{\textnormal{g}}}
        \def\ervh{{\textnormal{h}}}
        \def\ervi{{\textnormal{i}}}
        \def\ervj{{\textnormal{j}}}
        \def\ervk{{\textnormal{k}}}
        \def\ervl{{\textnormal{l}}}
        \def\ervm{{\textnormal{m}}}
        \def\ervn{{\textnormal{n}}}
        \def\ervo{{\textnormal{o}}}
        \def\ervp{{\textnormal{p}}}
        \def\ervq{{\textnormal{q}}}
        \def\ervr{{\textnormal{r}}}
        \def\ervs{{\textnormal{s}}}
        \def\ervt{{\textnormal{t}}}
        \def\ervu{{\textnormal{u}}}
        \def\ervv{{\textnormal{v}}}
        \def\ervw{{\textnormal{w}}}
        \def\ervx{{\textnormal{x}}}
        \def\ervy{{\textnormal{y}}}
        \def\ervz{{\textnormal{z}}}
        \def\rmA{{\mathbf{A}}}
        \def\rmB{{\mathbf{B}}}
        \def\rmC{{\mathbf{C}}}
        \def\rmD{{\mathbf{D}}}
        \def\rmE{{\mathbf{E}}}
        \def\rmF{{\mathbf{F}}}
        \def\rmG{{\mathbf{G}}}
        \def\rmH{{\mathbf{H}}}
        \def\rmI{{\mathbf{I}}}
        \def\rmJ{{\mathbf{J}}}
        \def\rmK{{\mathbf{K}}}
        \def\rmL{{\mathbf{L}}}
        \def\rmM{{\mathbf{M}}}
        \def\rmN{{\mathbf{N}}}
        \def\rmO{{\mathbf{O}}}
        \def\rmP{{\mathbf{P}}}
        \def\rmQ{{\mathbf{Q}}}
        \def\rmR{{\mathbf{R}}}
        \def\rmS{{\mathbf{S}}}
        \def\rmT{{\mathbf{T}}}
        \def\rmU{{\mathbf{U}}}
        \def\rmV{{\mathbf{V}}}
        \def\rmW{{\mathbf{W}}}
        \def\rmX{{\mathbf{X}}}
        \def\rmY{{\mathbf{Y}}}
        \def\rmZ{{\mathbf{Z}}}
        \def\ermA{{\textnormal{A}}}
        \def\ermB{{\textnormal{B}}}
        \def\ermC{{\textnormal{C}}}
        \def\ermD{{\textnormal{D}}}
        \def\ermE{{\textnormal{E}}}
        \def\ermF{{\textnormal{F}}}
        \def\ermG{{\textnormal{G}}}
        \def\ermH{{\textnormal{H}}}
        \def\ermI{{\textnormal{I}}}
        \def\ermJ{{\textnormal{J}}}
        \def\ermK{{\textnormal{K}}}
        \def\ermL{{\textnormal{L}}}
        \def\ermM{{\textnormal{M}}}
        \def\ermN{{\textnormal{N}}}
        \def\ermO{{\textnormal{O}}}
        \def\ermP{{\textnormal{P}}}
        \def\ermQ{{\textnormal{Q}}}
        \def\ermR{{\textnormal{R}}}
        \def\ermS{{\textnormal{S}}}
        \def\ermT{{\textnormal{T}}}
        \def\ermU{{\textnormal{U}}}
        \def\ermV{{\textnormal{V}}}
        \def\ermW{{\textnormal{W}}}
        \def\ermX{{\textnormal{X}}}
        \def\ermY{{\textnormal{Y}}}
        \def\ermZ{{\textnormal{Z}}}
        \def\vzero{{\bm{0}}}
        \def\vone{{\bm{1}}}
        \def\vmu{{\bm{\mu}}}
        \def\vtheta{{\bm{\theta}}}
        \def\va{{\bm{a}}}
        \def\vb{{\bm{b}}}
        \def\vc{{\bm{c}}}
        \def\vd{{\bm{d}}}
        \def\ve{{\bm{e}}}
        \def\vf{{\bm{f}}}
        \def\vg{{\bm{g}}}
        \def\vh{{\bm{h}}}
        \def\vi{{\bm{i}}}
        \def\vj{{\bm{j}}}
        \def\vk{{\bm{k}}}
        \def\vl{{\bm{l}}}
        \def\vm{{\bm{m}}}
        \def\vn{{\bm{n}}}
        \def\vo{{\bm{o}}}
        \def\vp{{\bm{p}}}
        \def\vq{{\bm{q}}}
        \def\vr{{\bm{r}}}
        \def\vs{{\bm{s}}}
        \def\vt{{\bm{t}}}
        \def\vu{{\bm{u}}}
        \def\vv{{\bm{v}}}
        \def\vw{{\bm{w}}}
        \def\vx{{\bm{x}}}
        \def\vy{{\bm{y}}}
        \def\vz{{\bm{z}}}
        \def\evalpha{{\alpha}}
        \def\evbeta{{\beta}}
        \def\evepsilon{{\epsilon}}
        \def\evlambda{{\lambda}}
        \def\evomega{{\omega}}
        \def\evmu{{\mu}}
        \def\evpsi{{\psi}}
        \def\evsigma{{\sigma}}
        \def\evtheta{{\theta}}
        \def\eva{{a}}
        \def\evb{{b}}
        \def\evc{{c}}
        \def\evd{{d}}
        \def\eve{{e}}
        \def\evf{{f}}
        \def\evg{{g}}
        \def\evh{{h}}
        \def\evi{{i}}
        \def\evj{{j}}
        \def\evk{{k}}
        \def\evl{{l}}
        \def\evm{{m}}
        \def\evn{{n}}
        \def\evo{{o}}
        \def\evp{{p}}
        \def\evq{{q}}
        \def\evr{{r}}
        \def\evs{{s}}
        \def\evt{{t}}
        \def\evu{{u}}
        \def\evv{{v}}
        \def\evw{{w}}
        \def\evx{{x}}
        \def\evy{{y}}
        \def\evz{{z}}
        \def\mA{{\bm{A}}}
        \def\mB{{\bm{B}}}
        \def\mC{{\bm{C}}}
        \def\mD{{\bm{D}}}
        \def\mE{{\bm{E}}}
        \def\mF{{\bm{F}}}
        \def\mG{{\bm{G}}}
        \def\mH{{\bm{H}}}
        \def\mI{{\bm{I}}}
        \def\mJ{{\bm{J}}}
        \def\mK{{\bm{K}}}
        \def\mL{{\bm{L}}}
        \def\mM{{\bm{M}}}
        \def\mN{{\bm{N}}}
        \def\mO{{\bm{O}}}
        \def\mP{{\bm{P}}}
        \def\mQ{{\bm{Q}}}
        \def\mR{{\bm{R}}}
        \def\mS{{\bm{S}}}
        \def\mT{{\bm{T}}}
        \def\mU{{\bm{U}}}
        \def\mV{{\bm{V}}}
        \def\mW{{\bm{W}}}
        \def\mX{{\bm{X}}}
        \def\mY{{\bm{Y}}}
        \def\mZ{{\bm{Z}}}
        \def\mBeta{{\bm{\beta}}}
        \def\mPhi{{\bm{\Phi}}}
        \def\mLambda{{\bm{\Lambda}}}
        \def\mSigma{{\bm{\Sigma}}}
        \DeclareMathAlphabet{\mathsfit}{\encodingdefault}{\sfdefault}{m}{sl}
        \SetMathAlphabet{\mathsfit}{bold}{\encodingdefault}{\sfdefault}{bx}{n}
        \newcommand{\tens}[1]{\bm{\mathsfit{#1}}}
        \def\tA{{\tens{A}}}
        \def\tB{{\tens{B}}}
        \def\tC{{\tens{C}}}
        \def\tD{{\tens{D}}}
        \def\tE{{\tens{E}}}
        \def\tF{{\tens{F}}}
        \def\tG{{\tens{G}}}
        \def\tH{{\tens{H}}}
        \def\tI{{\tens{I}}}
        \def\tJ{{\tens{J}}}
        \def\tK{{\tens{K}}}
        \def\tL{{\tens{L}}}
        \def\tM{{\tens{M}}}
        \def\tN{{\tens{N}}}
        \def\tO{{\tens{O}}}
        \def\tP{{\tens{P}}}
        \def\tQ{{\tens{Q}}}
        \def\tR{{\tens{R}}}
        \def\tS{{\tens{S}}}
        \def\tT{{\tens{T}}}
        \def\tU{{\tens{U}}}
        \def\tV{{\tens{V}}}
        \def\tW{{\tens{W}}}
        \def\tX{{\tens{X}}}
        \def\tY{{\tens{Y}}}
        \def\tZ{{\tens{Z}}}
        \def\gA{{\mathcal{A}}}
        \def\gB{{\mathcal{B}}}
        \def\gC{{\mathcal{C}}}
        \def\gD{{\mathcal{D}}}
        \def\gE{{\mathcal{E}}}
        \def\gF{{\mathcal{F}}}
        \def\gG{{\mathcal{G}}}
        \def\gH{{\mathcal{H}}}
        \def\gI{{\mathcal{I}}}
        \def\gJ{{\mathcal{J}}}
        \def\gK{{\mathcal{K}}}
        \def\gL{{\mathcal{L}}}
        \def\gM{{\mathcal{M}}}
        \def\gN{{\mathcal{N}}}
        \def\gO{{\mathcal{O}}}
        \def\gP{{\mathcal{P}}}
        \def\gQ{{\mathcal{Q}}}
        \def\gR{{\mathcal{R}}}
        \def\gS{{\mathcal{S}}}
        \def\gT{{\mathcal{T}}}
        \def\gU{{\mathcal{U}}}
        \def\gV{{\mathcal{V}}}
        \def\gW{{\mathcal{W}}}
        \def\gX{{\mathcal{X}}}
        \def\gY{{\mathcal{Y}}}
        \def\gZ{{\mathcal{Z}}}
        \def\sA{{\mathbb{A}}}
        \def\sB{{\mathbb{B}}}
        \def\sC{{\mathbb{C}}}
        \def\sD{{\mathbb{D}}}
        \def\sF{{\mathbb{F}}}
        \def\sG{{\mathbb{G}}}
        \def\sH{{\mathbb{H}}}
        \def\sI{{\mathbb{I}}}
        \def\sJ{{\mathbb{J}}}
        \def\sK{{\mathbb{K}}}
        \def\sL{{\mathbb{L}}}
        \def\sM{{\mathbb{M}}}
        \def\sN{{\mathbb{N}}}
        \def\sO{{\mathbb{O}}}
        \def\sP{{\mathbb{P}}}
        \def\sQ{{\mathbb{Q}}}
        \def\sR{{\mathbb{R}}}
        \def\sS{{\mathbb{S}}}
        \def\sT{{\mathbb{T}}}
        \def\sU{{\mathbb{U}}}
        \def\sV{{\mathbb{V}}}
        \def\sW{{\mathbb{W}}}
        \def\sX{{\mathbb{X}}}
        \def\sY{{\mathbb{Y}}}
        \def\sZ{{\mathbb{Z}}}
        \def\emLambda{{\Lambda}}
        \def\emA{{A}}
        \def\emB{{B}}
        \def\emC{{C}}
        \def\emD{{D}}
        \def\emE{{E}}
        \def\emF{{F}}
        \def\emG{{G}}
        \def\emH{{H}}
        \def\emI{{I}}
        \def\emJ{{J}}
        \def\emK{{K}}
        \def\emL{{L}}
        \def\emM{{M}}
        \def\emN{{N}}
        \def\emO{{O}}
        \def\emP{{P}}
        \def\emQ{{Q}}
        \def\emR{{R}}
        \def\emS{{S}}
        \def\emT{{T}}
        \def\emU{{U}}
        \def\emV{{V}}
        \def\emW{{W}}
        \def\emX{{X}}
        \def\emY{{Y}}
        \def\emZ{{Z}}
        \def\emSigma{{\Sigma}}
        \newcommand{\etens}[1]{\mathsfit{#1}}
        \def\etLambda{{\etens{\Lambda}}}
        \def\etA{{\etens{A}}}
        \def\etB{{\etens{B}}}
        \def\etC{{\etens{C}}}
        \def\etD{{\etens{D}}}
        \def\etE{{\etens{E}}}
        \def\etF{{\etens{F}}}
        \def\etG{{\etens{G}}}
        \def\etH{{\etens{H}}}
        \def\etI{{\etens{I}}}
        \def\etJ{{\etens{J}}}
        \def\etK{{\etens{K}}}
        \def\etL{{\etens{L}}}
        \def\etM{{\etens{M}}}
        \def\etN{{\etens{N}}}
        \def\etO{{\etens{O}}}
        \def\etP{{\etens{P}}}
        \def\etQ{{\etens{Q}}}
        \def\etR{{\etens{R}}}
        \def\etS{{\etens{S}}}
        \def\etT{{\etens{T}}}
        \def\etU{{\etens{U}}}
        \def\etV{{\etens{V}}}
        \def\etW{{\etens{W}}}
        \def\etX{{\etens{X}}}
        \def\etY{{\etens{Y}}}
        \def\etZ{{\etens{Z}}}
        \newcommand{\pdata}{p_{\rm{data}}}
        \newcommand{\ptrain}{\hat{p}_{\rm{data}}}
        \newcommand{\Ptrain}{\hat{P}_{\rm{data}}}
        \newcommand{\pmodel}{p_{\rm{model}}}
        \newcommand{\Pmodel}{P_{\rm{model}}}
        \newcommand{\ptildemodel}{\tilde{p}_{\rm{model}}}
        \newcommand{\pencode}{p_{\rm{encoder}}}
        \newcommand{\pdecode}{p_{\rm{decoder}}}
        \newcommand{\precons}{p_{\rm{reconstruct}}}
        \newcommand{\laplace}{\mathrm{Laplace}} % Laplace distribution
        \newcommand{\E}{\mathbb{E}}
        \newcommand{\Ls}{\mathcal{L}}
        \newcommand{\R}{\mathbb{R}}
        \newcommand{\emp}{\tilde{p}}
        \newcommand{\lr}{\alpha}
        \newcommand{\reg}{\lambda}
        \newcommand{\rect}{\mathrm{rectifier}}
        \newcommand{\softmax}{\mathrm{softmax}}
        \newcommand{\sigmoid}{\sigma}
        \newcommand{\softplus}{\zeta}
        \newcommand{\KL}{D_{\mathrm{KL}}}
        \newcommand{\Var}{\mathrm{Var}}
        \newcommand{\standarderror}{\mathrm{SE}}
        \newcommand{\Cov}{\mathrm{Cov}}
        \newcommand{\normlzero}{L^0}
        \newcommand{\normlone}{L^1}
        \newcommand{\normltwo}{L^2}
        \newcommand{\normlp}{L^p}
        \newcommand{\normmax}{L^\infty}
        \newcommand{\parents}{Pa} 
        \newcommand\N{\mathbb{N}}
        \newcommand\floor[1]{\lfloor#1\rfloor}
        \newcommand{\bmat}{\left[\begin{array}}
        \newcommand{\emat}{\end{array}\right]}
        \newcommand{\train}{\mathcal{D}}
        \newcommand{\valid}{\mathcal{D_{\mathrm{valid}}}}
        \newcommand{\test}{\mathcal{D_{\mathrm{test}}}}
        \DeclareMathOperator*{\argmax}{arg\,max}
        \DeclareMathOperator*{\argmin}{arg\,min}
        \DeclareMathOperator{\sign}{sign}
        \DeclareMathOperator{\Tr}{Tr}
  extra_extensions:
  - sphinxcontrib.youtube
  - sphinx_inline_tabs
  - sphinx.ext.autosectionlabel
  - sphinxext.rediraffe
  - sphinx_proof
  parse:
    myst_heading_anchors: 2
    myst_enable_extensions:
      # don't forget to list any other extensions you want enabled,
      # including those that are enabled by default!
      - amsmath
      - deflist
      - colon_fence
      - dollarmath
      - html_admonition
      - html_image
      - linkify
      - replacements
      - smartquotes
      - substitution
      - html_image
    
exclude_patterns: [solutions/*]
only_build_toc_files: true



